@inherits LayoutComponentBase
@inject QuizAuthStateProvider QuizAuthStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if(QuizAuthStateProvider.IsInitializing)
            {
                <p>Durum başlatılıyor...</p> <!-- Eğer oturum durumu başlatılıyor ise bir mesaj gösterir -->
            }
            else
            {
                @Body

                <!-- Eğer başlatma tamamlandıysa, içeriği render eder -->
            }
          
        </article>
    </main>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        // QuizAuthStateProvider'da başlatma işlemi tamamlanana kadar bekler.
        while (QuizAuthStateProvider.IsInitializing)
        {
            // Durumu her 500 milisaniyede bir kontrol eder.
            await Task.Delay(500);
        }
    }
}
