@inject QuizAuthStateProvider QuizAuthStateProvider
 
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sınav Uygulaması</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <AuthorizeView Roles="@(nameof(UserRole.Admin))" Context="adminContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-categories">
                            Kategorileri Yönet 
                        </NavLink>
                    </div>    
                    
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-quizes">
                            Testleri Yönet 
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/add-quiz">
                            Yeni Test
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="@(nameof(UserRole.Student))" Context="studentContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/my-quizes">
                            Sınavlarım
                        </NavLink>
                    </div>

                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <a role="button" class="nav-link" @onclick="LogoutAsync">
                Çıkış Yap
            </a>
        </div>




    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task LogoutAsync()
    {
        await QuizAuthStateProvider.SetLogoutAsync();
        NavigationManager.NavigateTo("auth/login", replace: true);

    }
}
