@page "/"


@inject QuizAuthStateProvider QuizAuthStateProvider
<PageTitle>Ana Sayfa</PageTitle>

<h1>Merhaba,@QuizAuthStateProvider.User?.Name</h1>

<AuthorizeView>
    <Authorizing>
        <p>
            Yetkilendiriyor..
        </p>

    </Authorizing>
    <NotAuthorized>

        <p>
            Yetkili Değil
        </p>
    </NotAuthorized>

    <Authorized>
        <p>
            Yetkili:@context.User.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Name)?.Value
        </p>
    </Authorized>
</AuthorizeView>
@code {

}
